/*-------------------------------------------------------
21. Breadcrumb css
---------------------------------------------------------*/
.maan-site-breadcrumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 320px;

    @include lg {
        min-height: 420px;
    }

    .maan-breadcrumb-title {
        font-style: normal;
        font-weight: var(--fw-700);
        font-size: var(--fs-30);
        line-height: 65px;
        text-align: center;
        margin-bottom: 5px;
        color: var(--clr-def);

        @include lg {
            font-size: var(--fs-45);
        }
    }

    .maan-breadcrumb-menu {
        position: relative;
        z-index: 1;

        li {
            position: relative;
            display: inline-block;
            margin-left: 0rem;
            color: var(--clr-def);
            font-weight: var(--fw-400);
            text-transform: capitalize;

            a {
                font-style: normal;
                font-weight: var(--fw-600);
                font-size: var(--fs-16);
                line-height: 35px;
                text-align: center;
                color: var(--clr-def);
                padding: 0 10px;
            }

            &::before {
                position: absolute;
                content: "\f105";
                font-family: 'Font Awesome\ 5 Free';
                font-weight: var(--fw-600);
                width: 2rem;
                right: -26px;
                top: 4px;
                text-align: center;
                font-size: 1.2rem;
                color: var(--clr-def);
                padding-right: 1rem;
            }

            &:last-child::before {
                display: none;
            }

            &.active {
                color: var(--clr-def);
            }
        }
    }
}